@model IEnumerable<LindaniDrivingSchool.Models.Lesson>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LearnerPortal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseDisc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonDisc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lessonType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseDisc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonDisc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lessonType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LessonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LessonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LessonID })
        </td>
    </tr>
}

</table>
